footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: black;
  color: white;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  width: 100%;
}
a,
a:visited,
a:active {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-left: 6px;
}
