<main>
  <div class="places">
    <p class="top">Group Activities</p>
    <h1>4 Person Trip to Hawaii</h1>
    <hr />
    <div class="wrapper">
      <div class="box item1"></div>
      <div class="box item2"></div>
      <div class="box item3"></div>
      <div class="box item4"></div>
      <div class="box item5"></div>
    </div>
  </div>

  <aside class="sidebar">
    <h3>
      <icon-base iconName="calendar">
        <!--https://teropa.info/blog/2016/12/12/graphics-in-angular-2.html#avoiding-element-selectors-for-components-->
        <svg:g icon-calendar />
      </icon-base> Schedule</h3>
    <p class="top ">Sunday</p>
    <p>Arrival: We settled in and decided to go snorkeling. We saw spotted dolphins, tons of whales - one whale went right under
      the boat, and, of course, plenty of sea turtles. The snorkeling area is a little small and can get crowded, but we
      still had great opportunities to watch the turtles. The crew was terrific - Jason, Jackson, and Shane. We would definitely
      recommend this activity, and will do it again if we ever get back to Hawaii!</p>
    <p class="top ">Monday</p>
    <p>After such an exciting first day, we decided to take it a bit easier and just get a nice lunch as our day activity. Had
      a wonderful time getting an opportunity to walk around a few blocks of Ala Moana and sampling some of the local eats
      that you can't really get back home. Every stop had something new and interesting to try, and there wasn't a single
      thing I tried that I really disliked.</p>
  </aside>
</main>
