<div>
  <div #profile *ngFor="let user of users; let i = index" (click)="changeUser(i)" [ngClass]="getClasses(user, i)">
    <div class="online"></div>
    <img [src]="user.img" />
  </div>

  <button (click)="toggleFollow()" [ngClass]="[following ? followclass : '', follow].join(' ')">
    <span *ngIf="following; else follow ">&#10004; Following</span>
    <ng-template #follow>
      <span>Follow</span>
    </ng-template>
  </button>

  <h2 id="profile-name" class="profile-name">
    <span *ngIf="page==='group'; else selectedUserName" class="user-trip ">{{ selectedUser.trips[0] }}</span>
    <ng-template #selectedUserName>
      <span>{{ selectedUser.name }}</span>
    </ng-template>
  </h2>

  <div (click)="addPlace() " class="side-icon" id="side-icon">
    <icon-base *ngIf="page==='index'; else plusIcon" iconName="mail" iconColor="white" width="22" height="22">
      <svg:g icon-mail></svg:g>
    </icon-base>
    <ng-template #plusIcon>
      <icon-base iconName="plus" class="plus" width="18" height="18">
        <svg:g icon-plus />
      </icon-base>
    </ng-template>

  </div>

  <div id="saveinfo" class="saveinfo">Saved!</div>

  <aside id="aside ">
    <p class="map-pin ">
      <icon-base iconName="map pin" width="18" height="18">
        <svg:g icon-map-pin />
      </icon-base>
      United States
    </p>

    <p class="calendar">
      <icon-base iconName="calendar" width="18" height="18">
        <svg:g icon-calendar />
      </icon-base>
      {{ selectedUser.days }} days traveling
    </p>
  </aside>
</div>
