<header [ngClass]="{
  'place' : page === 'place',
  'group' : page === 'group',
  'index' : page === 'index'
}">
  <div name="bk" class="bk-img">
    <div *ngIf="page === 'index'" class="header-img1"></div>
    <div *ngIf="page === 'place'" class="header-img2"></div>
    <div *ngIf="page === 'group'" class="header-img3"></div>
  </div>
  <div class="nav-wrapper">
    <nav>
      <ul>
        <a *ngFor="let item of nav" [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: item.exact }">
          <li>
            {{ item.name }}
          </li>
        </a>
      </ul>
      <div (click)="toggleMenuOpened()">
        <icon-base class="menu" iconName="menu" iconColor="white" width="28" height="28">
          <svg:g icon-three-dot/>
        </icon-base>
      </div>
      <app-menu-drawer [menuOpened]="menuOpened"></app-menu-drawer>

      <app-nav-transition></app-nav-transition>

      <app-stats *ngIf="page === 'index'" [selectedUser]="selectedUser"></app-stats>
    </nav>
  </div>
</header>
