<header [ngClass]="{
  'place' : page === 'place',
  'group' : page === 'group',
  'index' : page === 'index'
}">
  <div name="bk" class="bk-img">
    <div *ngIf="page === 'index'" class="header-img1"></div>
    <div *ngIf="page === 'place'" class="header-img2"></div>
    <div *ngIf="page === 'group'" class="header-img3"></div>
  </div>
  <div class="nav-wrapper">
    <nav>
      <ul>
        <li *ngFor="let item of nav" [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: item.exact }">
          {{ item.name }}
        </li>
      </ul>
    </nav>
  </div>
</header>
